<div class="row row-restart-game">
	<div class="col-md-12">
		<button type="button" class="btn btn-warning" ng-click="restart()">Reiniciar partida</button>
	</div>		
</div>
<div class="panel panel-default" ng-repeat="i in indexes track by $index">
  	<div class="panel-heading">
  		<span class="title-section">Juego N° {{$index + 1}}</span>
  		<button ng-show="$index == indexes.length-1" type="button" class="btn btn-default btn-xs" ng-click="getCards($index, 10)" ng-disabled="isWinner[$index].name || expiredToken">Sacar mano</button>
  		<button type="button" class="btn btn-primary btn-xs" ng-click="more()" style="float: right;" ng-disabled="!isWinner[$index].name || $index < indexes.length-1 || expiredToken">Nuevo juego</button>
  	</div>
   
   	<div class="panel-body">
      	<div class="row">
			<div class="col-md-6">
				<ul ng-class="isWinner[$index].isWin == '1' ? 'ul-win' : ''">
					<span class="title-player">Jugador 1</span>
					<li ng-repeat="player in players[0].cards[$index]">
						{{player.number}} - {{player.suit}}
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul ng-class="isWinner[$index].isWin == '2' ? 'ul-win' : ''">
					<span class="title-player">Jugador 2</span>
					<li ng-repeat="player in players[1].cards[$index]">
						{{player.number}} - {{player.suit}}
					</li>
				</ul>
			</div>
		</div>
		<div class="row text-center">
			<button type="button" class="btn btn-success" ng-click="winner($index)" ng-disabled="(!players[0].cards[$index] && !players[1].cards[$index]) || expiredToken" ng-hide="isWinner[$index].name">Ganador</button>
		</div>
		<div class="row text-center">
			<span class="title-win">{{isWinner[$index].name}}</span>
		</div>
		<div class="row text-center">
			<span class="title-win">{{isWinner[$index].combination.name}}</span>
		</div>
		
  	</div>
</div>
<div class="panel" ng-show="expiredToken">
	<div class="alert alert-danger text-center" style="font-size: 30px;">
		  <span>Sesión expirada, debe reiniciar la Partida</span>
	</div>
</div>
<div class="panel" ng-show="noMoreCards">
	<div class="alert alert-danger text-center" style="font-size: 30px;">
		  <span>No quedan más cartas. Reinicie el juego</span>
	</div>
</div>