<div class="container">
	<h1 class="text-center">Poker</h1>
	
	<div class="row">
		<div class="col-md-6">
			<h3>Instrucciones</h3>
			<ol>
				<li>
					Presionar botón "Sacar mano", para obtener las cartas.
				</li>
				<li>
					Presionar botón "Ganador", para ver quién gana este juego
				</li>
				<li>
					Presionar botón "Nuevo juego", para competir nuevamente.
				</li>
			</ol>
		</div>
		<div class="col-md-6">
			<h3>Consideraciones</h3>
			<ul>
				<li>
					El botón "Reinciar partida" creará una nueva partida, eliminando el juego actual.
				</li>
			</ul>
		</div>
	</div>
	
	<div ui-view=""></div>
</div>